@import "tailwindcss";

@theme {
    --color-elighter: #F2F2F2;
    --color-elight: #E4E4E4;
    --color-egray: #D6D6D6;
    --color-edark-gray: #404040;
    --color-edark: #333333;
    --color-edarker: #262626;

}